PUID=0
PGID=0
TZ=Europe/Brussels
DOMAIN=doge.home
GLANCES_HOST=http://172.42.4.0
GLANCES_USERNAME=yoloxswag
GLANCES_PASSWORD=hunter2
OPENWRT_ROUTER_HOST=http://172.42.4.99
OPENWRT_ROUTER_PASSWORD=XXXX
OPENWRT_AP0_HOST=http://172.42.4.100
OPENWRT_AP1_HOST=http://172.42.4.101
OPENWRT_AP2_HOST=http://172.42.4.102
OPENWRT_AP3_HOST=http://172.42.4.103
PIHOLE_HOST=http://172.42.4.2
PIHOLE_API_KEY=XXXX
HOME_ASSISTANT_HOST=http://172.42.4.10
FRIGATE_HOST=http://172.42.4.14
Z2M_HOST=http://172.42.4.12
NODE_RED_HOST=http://172.42.4.32
JELLYFIN_HOST=http://172.42.4.22:8096
JELLYFIN_API_KEY=XXXX
GLUETUN_HOST=http://172.42.4.24:61280
QBITTORRENT_HOST=http://172.42.4.24:5080
PROWLARR_HOST=http://172.42.4.24:9696
PROWLARR_API_KEY=XXXX
RADARR_HOST=http://172.42.4.24:7878
RADARR_API_KEY=XXXX
SONARR_HOST=http://172.42.4.24:8989
SONARR_API_KEY=XXXX
BAZARR_HOST=http://172.42.4.24:6767
BAZARR_API_KEY=XXXX
VAULTWARDEN_HOST=http://172.42.4.30
DISK1_LABEL=Disk 1
DISK2_LABEL=Disk 2
DISK3_LABEL=Disk 3
DISK4_LABEL=Disk 4
DISK1_MOUNT_POINT=/mnt/disk1
DISK2_MOUNT_POINT=/mnt/disk2
DISK3_MOUNT_POINT=/mnt/disk3
DISK1_NAME=/sda
DISK2_NAME=/sdb
DISK3_NAME=/sdc
DISK4_NAME=/nvme