{$DOMAIN}, *.{$DOMAIN} {
	tls internal

	# Frigate
	@frigate host frigate.{$DOMAIN}
	handle @frigate {
		reverse_proxy http://{$FRIGATE_HOST}:5000
	}

	# Jellyfin
	@jellyfin host jellyfin.{$DOMAIN}
	handle @jellyfin {
		reverse_proxy http://{$JELLYFIN_HOST}:8096
	}

	# Servarr
	@qbittorrent host qbittorrent.{$DOMAIN}
	handle @qbittorrent {
		reverse_proxy http://{$SERVARR_HOST}:5080
	}

	@prowlarr host prowlarr.{$DOMAIN}
	handle @prowlarr {
		reverse_proxy http://{$SERVARR_HOST}:9696
	}

	@radarr host radarr.{$DOMAIN}
	handle @radarr {
		reverse_proxy http://{$SERVARR_HOST}:7878
	}

	@sonarr host sonarr.{$DOMAIN}
	handle @sonarr {
		reverse_proxy http://{$SERVARR_HOST}:8989
	}

	@bazarr host bazarr.{$DOMAIN}
	handle @bazarr {
		reverse_proxy http://{$SERVARR_HOST}:6767
	}
}
